
body {
        font-family: "Poppins", sans-serif;
        margin: 0;
      }
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.top_banner{
    display: flex;
}
.dream-big{
    display: flex;
}
.developer{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.text_jus{
    text-align: justify;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
}
.top_banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
.resume{
    text-decoration: none;

}
.dream-big{
    margin-top: 10%;
    padding-right:5% ;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.developer{
    display: flex;
}
.experience-item{
    width: 40%;
    
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding: 8px;
    border-radius: 5px;
    
}
h2{
    font-size: 35px;
    font-weight: 410;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    
}
#full_stack_developer{
    border-left: 7px solid tomato;
}
#baby_web_developer{
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
    margin-top: 100px;
}